<h2>Edit</h2>
<div>
  <%= form_for(@task) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :details %>
    <%= f.text_field :details %>
    <%= f.label :completed %>
    <%= f.check_box :completed %>
    <div>
    <%= f.submit %>
    </div>
  <% end %>
</div>



<%= link_to 'Back to List', tasks_path %>
